<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
<meta charset=utf-8 />
 <title>Event</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map-container { margin:0; margin-bottom:650px; padding:0; }
  #map { position:absolute; width:1110px; height:600px }
  
  .mapboxgl-popup { max-width: 200px; }
  .mapboxgl-popup-content { text-align: center; font-family: 'Open Sans', sans-serif; }
</style>

</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${event.name}"> Text</h1>
     <blockquote>
      <p> <b>Venue: </b></p>
          <p>
            <a th:href="@{/venues/{num}(num=${event.venue.id})}" th:text="${event.venue.name}">My Event</a>
          </p>
      <p > <b>Date: </b></p>
      <p th:text="${event.date}"></p>
      <p></p>
      <p > <b>Time: </b></p>
      <p th:text="${event.time}"></p>

      <p > <b>Summary: </b></p>
      <p th:text="${event.summary}"></p>
      <p></p>
      <p > <b> Description: </b></p>
      <p th:text="${event.description}"></p>
    </blockquote>
    
    <div th:if="${tweetString}">
    	<div class="alert alert-success alert-dismissible fade show" role="alert">
  			Your tweet: <strong th:text = "${tweetString}"></strong> was posted
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
    </div>
    
       <form th:action="@{/events/tweet/{num}(num=${id})}" th:method="post">
         <h3>Share the event</h3>
         <p>
         <input type="text" class="form-control" name="tweet" th:placeholder="${event.name}">
         </p>
         <p>
           <button id="tweetBtn" type="submit" class="btn btn-primary" onclick="displaySuccessBox()"><i class="fab fa-twitter-square"></i> Send tweet</button>
         </p>
       </form>
  
    <h3>Event location</h3>
    <div id='map-container'><div id='map'></div></div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
	var lat = /*[[${lat}]]*/ 0;
	var lon = /*[[${lon}]]*/ 0;
	var name = /*[[${event.name}]]*/ 'NO name';
	
	L.mapbox.accessToken = 'pk.eyJ1IjoiZXZlbnRsaXRlaDAyIiwiYSI6ImNrOG44NjNrNTBrZGMzbW9jbGRqc3kxbXQifQ.H2MJkZCOBTT-X9_noMmreA';
	var map = L.mapbox.map('map')
	    .setView([lat, lon], 15)
	    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
	
	var popup = L.popup()
		.setContent('<p>'+name+'</p>');
	
	var marker = L.marker([lat, lon], {
	             icon: L.mapbox.marker.icon({
	             'marker-size': 'large',
	             'marker-symbol': 'bar',
	             'marker-color': '#fa0'
	    })
	}).bindPopup(popup).addTo(map);
	
	
	/*]]>*/
	</script>
    
    <p>
      <form  th:if="${isAdmin}" th:action="@{/events/delete/{num}(num=${id})}" th:method="delete">
        <button type="submit" class="btn btn-primary"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
       </form>
      <a class="btn btn-primary btn-back" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
    </p>

  </div>
</body>
</html>