<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Update Venue</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Update a venue</h1>
    <form  th:object="${venue}" th:action="@{/venues/update/}+${venue.id}"  method="post">
     
      <div class="form-group">
        <p class="text-danger">* Required</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Venue name:</label><a class="text-danger"> *</a>
        <input class="form-control" type="text" name="name" id="name" th:field="*{name}" th:placeholder=${venue.name}  autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('roadName')}? has-error">
        <label for="roadName">Venue roadName:</label><a class="text-danger"> *</a>
        <input class="form-control" type="text" name="roadName" id="roadName" th:field="*{roadName}" th:placeholder=${venue.roadName} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('roadName')}" th:errors="*{roadName}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('postCode')}? has-error">
        <label for="postCode">Venue postCode:</label>
        <input class="form-control" type="text" name="postCode" id="postCode" th:field="*{postCode}" th:placeholder=${venue.postCode} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}">errors</p>
      </div>
      
      <div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
        <label for="capacity">Venue capacity:</label>
        <input class="form-control" type="text" name="capacity" id="capacity" th:field="*{capacity}" th:placeholder=${venue.capacity} autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
      </div>
      
      <button class="btn btn-primary" type="submit" ><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" th:href="@{/venues}"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>      
      </div>
    </form>
  </div>
</body>
</html>
