<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event</title>
</head>
<body>
  <div layout:fragment="content">
    <h2 th:text="${venue.name}"> Text</h2>
    

     <blockquote>
  
      <p > <b>Road: </b></p>
      <p th:text="${venue.roadName}"></p>
      <p > <b>Post Code: </b></p>
      <p th:text="${venue.postCode}"></p>
      <p > <b>Capacity: </b></p>
      <p th:text="${venue.capacity}"></p> 
    </blockquote>
    
    <h2>Upcoming Events in this venue:</h2>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>

          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
          <th><i class="fas fa-list-alt"></i> Summary</th>
          <th><i class="fas fa-edit"></i> Update</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${eventsf}">
          <td >
                 <a th:href="@{/events/{num}(num=${e.id})}" th:text="${e.name}">My Event</a>
          </td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <td th:text="${{e.summary}}">Event Summary</td>
          <td><a th:href="@{/events/updateEvent/{id}(id=${e.id})}"><i class="fas fa-pencil-alt"></i></a></td>
        </tr>
      </tbody>
    </table>
    

    <a class="btn btn-primary" role="button" th:href="@{/venues}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
     
    <br><br>
    <div class="form-group">
      <form th:action="@{/venues/delete/{num}(num=${id})}" th:method="delete">
      <button type="submit" class="btn btn-primary"><i class="fas fa-trash" aria-hidden="true"></i> Delete venue</button>
      </form>
    </div>
     
  </div>

</body>
</html>